<div class="todo-container">
    @for (
            todo of todoData;
            track todo.id;
        ) {
        <app-todo
            #todoRef
            [todoData]="todo"
            (onClickIcon)="getTodoInfo($event)"
        >
        </app-todo>

        <app-todo
            #todoRef
            [todoData]="todo"
            (onClickIcon)="getTodoInfo($event)"
        >
        </app-todo>

        <app-todo
            #todoRef
            [todoData]="todo"
            (onClickIcon)="getTodoInfo($event)"
        >
        <div class="name" #inputRef>
            <input type="text" placeholder="Nombre">
        </div>

        <div class="name" #inputRef>
            <input type="text" placeholder="Apellidos">
        </div>

        <div class="name" #inputRef>
            <input type="number" placeholder="Edad">
        </div>

        <div class="coment" style="margin-top: 1rem;">
            <textarea rows="5"></textarea>
        </div>
        </app-todo>
    } @empty {
        No hay datos
    }
</div>
<br><br>
<button (click)="orderData()">Ordenar</button>
<button (click)="addTodo()">Agregar</button>
<button (click)="selectTodo()">Seleccionar todo</button>